<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise</title>
</head>
<body>
    <h1 style="color: yellowgreen">20230303 exercise</h1>
    <h2 style="color: green">s11 {{.s11}}</h2>
    <h2 style="color: darkturquoise">s22 {{.s22}}</h2>
    <h2 style="color: forestgreen">s33 {{.s33}}</h2>
    <h2 style="color: olivedrab">s44.Name {{.s44.Name}}</h2>
    <h2 style="color: olivedrab">s44.Age {{.s44.Age}}</h2>
</body>
</html>