<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>防止xss攻击</title>
</head>
<body>
<h1 style="color: orange">"html/template"和"text/template"的区别</h1>
<h1 style="color: orange">"html/template"会对有风险的内容进行转义</h1>
<h2 style="color: green">有风险！转义之</h2>
<p>{{.msg1}}</p>
<h2 style="color: green">无风险！识别之</h2>
<p>{{.msg2|mySafe}}</p>
</body>
</html>